.icon-wrapper {
    height: 40px;
    width: 40px;
    background-color: #4a5568;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.svg-path {
    fill: currentColor;
    /* Usa el color actual del texto */
}

.icon {
    color: white;
}