@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
}

.sidebar-item {
    margin-bottom: 16px;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: #9D3FE7;
    border-radius: 50%;
}

.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #f7fafc;
}

.form-content {
    max-width: 400px;
    width: 100%;
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #9D3FE7;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    background-color: #f7fafc;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #6A17AB;
    outline: none;
    box-shadow: 0 0 0 2px rgba(157, 63, 231, 0.3);
}

.form-group button {
    padding: 10px;
    background-color: #9D3FE7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.form-group button:hover {
    background-color: #9D3FE7;
}

*,
::after,
::before,
input{
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}